{% extends "base.html" %}
{% block title %}Edit contact info{% endblock %}
{% block content %}
<div class="msg42">
    42 Coffee Cups Test Assignment
</div>
<div class="clear"></div>
<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}

<div class="left">
{% for field in form %}
    {% if forloop.counter == number %}
        </div>
        <div class="left">
    {% endif %}
    <div>
        {{ field.errors }}
        {{ field.label_tag }}: {{ field }}
        {% if field.label == "Photo" %}
            {% if field.value %} 
                <img src="{{ django_settings.STATIC_URL }}{{ field.value  }}">
            {% endif %}
        {% endif %}
    </div>
{% endfor %}
</div>
<input type="submit" value="Change" name="submit">
</form>
<div class="clear"></div>

<hr width=100%>
<div>
    <a href="{% url requests %}">requests</a>
</div>
{% endblock %}