{% extends "base.html" %}
{% block title %}42cc Contact Index Page{% endblock %}
{% block content %}
<div class="msg42">
    42 Coffee Cups Test Assignment
</div>
<div class="login">
    {% if user.is_anonymous %}
        <a href="/admin/">login</a>
    {% else %}
        <a href="{% url edit %}">edit</a>
    {% endif %}
</div>
<div class="clear"></div>

<div class="left">
    <div class="entry">{{ contact.name }}</div>
    <div class="entry">{{ contact.surname }}</div>
    <div class="entry">{{ contact.birthday }}</div>
    {% if contact.photo %}
        <div class="entry">Photo</div>
        <img src="/static/{{ contact.photo.url }}">
    {% endif %}
    
</div>
<div class="left">
    <div class="entry">Contacts</div>
    <div class="entry">Email: {{ contact.email }} </div>
    <div class="entry">Jabber: {{ contact.jabber }}</div>
    <div class="entry">Skype: {{ contact.skype }}</div>
    <div class="entry">Other Contacts:
        <br>{{ contact.contacts }}
    </div>
    <div class="entry">
        Bio:
        <div>{{ contact.bio }}</div>
    </div>
</div>
<div class="clear"></div>

<hr width=100%>
<div>
    <a href="{% url requests %}">requests</a>
</div>
{% endblock %}